#adder {
    background-color: lightcoral;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px yellowgreen;
  }
  .row{
    margin-top:50px;
  }
  h1{
    background-color: lavender;
    text-align:center;
  }